@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Складской Учет</h1>
    <p class="lead">Здесь информация о себе</p>
    <p><a href="*" class="btn btn-primary btn-lg">Какая-нибудь ссылка</a></p>
</div>

