@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" class="text-center">
    <h1>Складской Учет</h1><br />
    <p class="lead">
        МИНОБРНАУКИ РОСИИ<br />
        Федеральное государственное бюджетное образовательное<br />
        учреждение высшего образования<br />
        «Ижевский государственный технический университет имени М.Т.Калашникова»<br />
        Факультет информатики и вычислительной техники<br />
        Кафедра «Вычислительная техника»<br />
        <br />
        КУРСОВАЯ РАБОТА<br />
        по дисциплине «Объектно-ориентированное программирование»<br />
        на тему «Разработка программы складского учета»<br />
        <br />
        Выполнил cтудент гр. Б03-781-1зт М.Е.Шишков<br />
        Руководитель доцент кафедры ВТ, к.т.н. Е.М. Марков
    </p>
    @*<p><a href="*" class="btn btn-primary btn-lg">Какая-нибудь ссылка</a></p>*@
</div>

