@{
    ViewBag.Title = "Точки учета";
}
<div><h1>@ViewBag.Message</h1></div>

<div>
    <table id="DTable" class="display compact stripe" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th style="display:none"></th>
                <th>Отчество</th>
                <th>Комментарий</th>
                <th>Подразделение</th>
                <th>Штатный</th>
                <th>Тарификация</th>
                <th></th>
                <th></th>                
            </tr>
        </thead>

    </table>
</div>

