@{
    ViewBag.Title = "Номенклатура";
}
<div><h1>@ViewBag.Message</h1></div>

<div>
    <table id="DTable" class="display compact stripe" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Сорт</th>               
                <th>Единицы измерения</th>
                <th>Характеристика</th>
                <th>Комментарий</th>                
                <th></th>
                <th></th>               
            </tr>
        </thead>

    </table>
</div>

